@import url("htpps:77fonts.googleapls.com7css?family=Rubik");
*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Rubik','sans-serif';
    font-size: 1em;
    color: #707707;
    text-align: center;
}

h1{
    color: #3B3B3B;
    font-size: 2em;

}

h3{
    color: #3b3b3b;
    font-size: 1.375em;
}

/***********************************************************************************/
/* ESTILOS DE HEADERNAV */
/*****************************************************************************************************************/

#headernav {
    background: #ececec;
}

.link-menu{
    color: #707707;
    text-decoration: none;
}
a:hover{
    color: #6984e6;
}

/**************************************************************************************************************/
/* Estilos de princiapal */

/******************************************************************************************************************/


#principal{
    margin-top: 3.125em;
   /*min-height: 28.125em;*/
}

.espacio{
    min-height: calc(100vh-4.6875em);

}

/**************************************************************************************************************/
/* Estilos de pie*/

/******************************************************************************************************************/

#pie{
    background: #3b3b3b;
    color: #FFFF;
    height: 4.6875em;
}
/**************************************************************************************************************/
/* Estilos de pie*/

/******************************************************************************************************************/
#producto{
    background: -webkit-linear-gradient(90deg, #6859EA 10%,#6ACBE0 90%);
    background: -moz-linear-gradient(90deg, #6859EA 10%,#6ACBE0 90%);
    background: linear-gradient(90deg, #6859EA 10%,#6ACBE0 90%);
    color:#FFFF;
}
.espacio-row{
padding-top: 3em;
padding-bottom: 3em;

}